
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
}

body,
button{
    font-family: 'Lexend Deca', sans-serif;
}

.container{
    padding: 20px;
    margin: 80px 30px;
}

.card{
    padding: 40px 60px;
    color: hsl(0, 0%, 95%);
}

h3{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
}

p{
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 25px;
    color: hsla(0, 0%, 100%, 0.75);
}

.card img{
    margin-bottom: 30px;
}

.btn{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 12px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.one{
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

.two{
    background-color: var(--dark-cyan);
}

.three{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.one .btn{
    color: var(--bright-orange);
}

.two .btn{
    color: var(--dark-cyan);
}

.three .btn{
    color: var(--very-dark-cyan);
}

.one button:hover{
    color: hsl(0, 0%, 95%);
    background-color: var(--bright-orange);
    border: 1px  solid hsl(0, 0%, 95%);
    /* transition: ease-in-out (4sec); */
}

.two button:hover{
    color: hsl(0, 0%, 95%);
    background-color: var(--dark-cyan);
    border: 1px  solid hsl(0, 0%, 95%);
}

.three button:hover{
    color: hsl(0, 0%, 95%);
    background-color: var(--very-dark-cyan);
    border: 1px  solid hsl(0, 0%, 95%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:796px) {
    .container{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        min-height: 100vh;
    }

    .one{
        border-radius: 10px 0 0 10px;
    }

    .three{
        border-radius: 0 10px 10px 0;
    }
}